// Nav
@import '../../assets/styles/utils/variables';
@import '../../assets/styles/utils/mixins';

.nav {
  &__btn {
    display: none;
  }

  &__links {
    justify-content: space-between;
    align-items: center;
    margin: 0 -0.5rem;
  }

  &__item {
    padding: 0 0.5rem;
  }

  &__link {
    position: relative;
    color: rgba($white, 0.6);
    font-weight: 700;
    letter-spacing: 0.094em;
    transition: color 0.3s $transition-style 0s;

    &::before {
      position: absolute;
      bottom: -3px;
      width: 100%;
      height: 3px;
      display: block;
      background-color: $white;
      transform: scale(0);
      transition: transform 0.3s $transition-style 0s;
      content: '';
    }

    &.is-active::before,
    &:hover::before {
      transform: scale(1);
    }

    &.is-active,
    &:hover {
      color: $white;
    }
  }

  @include respond-max(md) {
    &__btn {
      position: relative;
      z-index: 103;
      display: flex;
      padding: 0;
      background-color: transparent;
      border: none;
      outline: transparent;

      &.is-active {
        .nav__path-line:first-child {
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 6;
        }

        .nav__path-line:nth-child(2) {
          stroke-dasharray: 1 60;
          stroke-dashoffset: -30;
          stroke-width: 6;
        }

        .nav__path-line:last-child {
          stroke-dasharray: 90 207;
          stroke-dashoffset: -134;
          stroke-width: 6;
        }
      }
    }

    &__path-line {
      fill: none;
      stroke: $white;
      stroke-width: 6;
      transition: stroke-dasharray 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 0.5s cubic-bezier(0.4, 0, 0.2, 1);

      &:first-child {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }

      &:nth-child(2) {
        stroke-dasharray: 60 60;
        stroke-width: 6;
      }

      &:last-child {
        stroke-dasharray: 60 207;
        stroke-width: 6;
      }
    }

    &__body {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 102;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 5rem 2rem 2rem;
      background-color: rgba($dark-primary, 0.97);
      transform: translateX(100%);
      backdrop-filter: blur(3px);
      transition: transform 0.5s $transition-style 0s;
      overflow: auto;

      &.is-open {
        transform: translateX(0);
      }
    }

    &__links {
      margin: 0;
      flex-direction: column;
    }

    &__item {
      margin: 0;
      padding: 0.8rem 0;
    }

    &__link {
      font-size: 1.5rem;
    }
  }
}
